.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 2px solid blue;
}

.header, .footer {
  flex: 0 0 auto;
  background-color: #76fc4d;
  height: 15%;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
}

.middle-content {
  display: flex;
  background-color: #843df6;
  height: 85%;
}

.content {
  flex: 1;
  background-color: #6d81f3;
  display: flex;
  border: 2px solid #0d077f;
  font-size: 3.5rem;
}


.sidebar {
  flex: 0 0 20px;
  background-color: #e0e0e0;
  margin: 0 10px;
  width: 20%;
  border: 2px solid #0d077f;
  font-size: 2.0rem;
  text-decoration: none;
}
.sidebar ul li { 
  text-decoration: none;
}

/* For screens smaller than 768px (typical mobile devices) */
@media (max-width: 767px) {
  .container {
    height: auto; /* Remove fixed height */
  }

  .header, .footer {
    height: 10%; /* Adjust header and footer height */
    font-size: 2.5rem; /* Decrease font size */
  }

  .middle-content {
    height: auto; /* Remove fixed height */
    flex-direction: column; /* Stack content vertically */
  }

  .content {
    font-size: 2.5rem; /* Decrease font size */
  }

  .sidebar {
    flex: 0 0 auto; /* Allow sidebar to grow and shrink */
    width: 100%; /* Occupy full width */
    margin: 10px 0; /* Adjust margin */
    font-size: 1.5rem; /* Decrease font size */
  }
}
